*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;

  display: flex;
  flex-direction: column;
  margin: 0;
}

header .navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: rgba(34, 40, 49, 0.1);
  z-index: 999;
}

header .navbar-container .logo {
  padding: 0px 20px;
}

header .navbar-container .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header .navbar-container .nav-list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px;
}

header .navbar-container .nav-list li {
  list-style-type: none;
}

header .navbar-container .nav-list a {
  text-decoration: none;
  padding: 1rem 0rem;
  color: #222831;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 5rem;
}

main .background-img {
  width: 100%;
  height: 900px;
  background-image: url(../assets/pap-bor3.png);
  background-size: cover;
}

.background-img .caption {
  font-family: "montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #282a3a;
  position: absolute;
  top: 25vh;
  left: 10%;
}

.background-img .caption .namaVisitor {
  color: #bed754;
  text-decoration: underline;
  margin: 0;
}

.background-img .caption .slogan {
  margin: 0;
  font-size: 2.5rem;
}

.background-img .caption .selengkapnya {
  margin-left: 20px;
}

.background-img .caption .selengkapnya a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #333a73;
}

main #company-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

main .headquarters {
  height: 500px;
  width: 100%;
  background-color: #393e46;
}

main .headquarters p {
  font-size: 2rem;
  font-weight: 800;
  color: #eeeeee;
  margin-left: 100px;
  margin-top: 50px;
}

main .headquarters .cabang-box {
  display: flex;

  flex-direction: row;
  gap: 2rem;

  padding: 10px;
  justify-content: flex-start;

  margin-left: 100px;
  margin-right: 100px;
}

main .headquarters .cabang-box .box {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 20%;
}
main .headquarters .cabang-box .jakarta {
  background-image: url(../assets/jakarta.jpeg);
  background-size: cover;
}
main .headquarters .cabang-box .batam {
  background-image: url(../assets/batam.jpeg);
  background-size: cover;
}
main .headquarters .cabang-box .jogja {
  background-image: url(../assets/jogja.jpg);
  background-size: cover;
}

main #message-us {
  border: 1px solid black;
  height: 600px;
  background-image: url(../assets/paper2.jpeg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main #message-us-title {
  font-size: 2rem;
  font-weight: 800;
  color: #222831;
}

main .output {
  border: 1px solid black;
  height: 400px;
  width: 30vw;
  padding: 20px;

  background-color: aliceblue;
  border-radius: 40px;
}

footer p {
  text-align: right;
  margin-right: 50px;
  color: #eeeeee;
}

footer {
  background-color: #393e46;
}

@media screen and (max-width: 800px) {
  header .navbar-container {
    flex-direction: column;
    align-items: center;
    position: static;
    background-color: #222831;
  }

  header .navbar-container .logo {
    margin-top: 1rem;
  }

  header .navbar-container .nav-list ul {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    padding: 10px;
    gap: 1.5rem 0rem;
    margin-bottom: 40px;
  }

  header .navbar-container .nav-list a {
    margin-left: 0;
    justify-content: center;
    padding: 5px 10px;
    background-color: #bed754;
    border-radius: 15px;
  }

  .background-img .caption {
    top: 45vh;
    left: 10vw;
  }

  main .headquarters {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .headquarters p {
    align-items: center;
    margin-left: 0;
  }

  main .headquarters .cabang-box {
    flex-direction: column;
    height: fit-content;
    margin: 0px 20px;
    align-items: center;
  }

  main .headquarters .cabang-box .box {
    width: 10px;
    height: 10px;
    border-radius: 20%;
  }

  main #message-us {
    flex-wrap: nowrap;
    height: fit-content;
    gap: 2rem 0rem;
  }

  main #message-us .output {
    width: 70%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1400px) {
  main .background-img {
    width: 100%;
    height: 600px;
    background-image: url(../assets/pap-bor3.png);
    background-size: auto;
  }
}

@media screen and (max-width: 1100px) {
  main .headquarters .cabang-box .box {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
  }
}
